<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.herben.tripmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
            android:name=".ui.board.TabbedActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.addPost.AddEditPostActivity"
            android:label="@string/title_activity_addedit_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.AddUserDetailsActivity"
            android:label="Add user detalis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.addTrip.AddEditTripActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBNKNueA5ZkoqBAemRQ_wbbmlxgn2b9jg"/>
    </application>

</manifest>